transformers==4.57.1
datasets~=2.21.0
torch
accelerate==1.0.0
peft==0.12.0
trl==0.9.6
tyro==0.8.14
scipy
einops
sentencepiece
protobuf
jieba
rouge-chinese
nltk==3.8.1
uvicorn
#pydantic==1.10.13
decord
qwen_vl_utils
pydantic
pynvml>=12.0.0
# vllm==0.7.2
pillow>=10.1.0
fastapi
sse-starlette
matplotlib
deepspeed==0.14.4
transformers_stream_generator
auto-gptq
optimum
tiktoken
numpy==1.24.4
openlm-hub
pytest
ml_tracker
librosa
av
timm
ring_flash_attn
liger_kernel
qwen-vl-utils[decord]
decord
jsonlines
scikit-learn
ijson
opencv-python==4.5.4.60
